// COLORS
$background: #1a1527;

$font-color: rgba(255, 255, 255, 0.99);
$font-subtle: rgba(255, 255, 255, 0.5);

$white: #fff;

$purple: #5918df;
$yellow: #eeff31;
$red: #e3244c;
$lightGreen: #24e394;
$green: #24e33a;
$orange: #e39d24;
